
#ohio {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    color: rgb(239, 74, 74);
}

.nav-link:hover {
    color: blue;
}

.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

p {
    color:blueviolet;
}

#relative {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

#footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: blueviolet;
}

#aside {
    width: 75%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    background-color: red;
}